/* MENU */
.ui-panel {
}

.ui-panel, #status-bar {
    background-color: #111;
}

.ui-panel-closed {
    visibility: visible;
    width: auto;
    overflow: visible;
    clip: auto;
}

.ui-panel-inner {
    padding: 0;
}

.status-bar {
    position: fixed;
    width: 100%;
}

.panel-heading {
    position: relative;
    height: 2em;
}

.ui-panel-closed .panel-toggle {
   /* left: 285px;*/
}

.panel-toggle {
    position: absolute;
    padding-left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff!important;
    text-shadow: none!important;
}

.menu-optns a.ui-btn {
    border: 0;
    color: #fff!important;
    text-shadow: none!important;
    background-color: transparent;
    margin: 0;
    box-shadow: none!important;
}

.menu-optns a.ui-btn:hover {
    background-color: #1e282c;
}

#status {
    z-index: 9999;
}

#lateral-menu {
    position: fixed;
    margin-top: 2em;
    min-height: calc(100% - 2em);
}

/* PAGES */
.ui-page {
    margin-top: 2em;
    background-color: #c3c3c3;
}

.ui-page::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    background: url(../img/logos/logo.png) no-repeat top center;
    background-size: 50%;
    will-change: transform;
    z-index: 0;
    transform: translate(-50%,-50%);
}

/* MAIN MENU */
.menu .col-6 {
    padding: 5px;
}

.menu a.ui-btn {
    width: 100%;
    padding: 50% 0;
    position: relative;
    margin: 0;
    background-color: #111!important;
    border: 1px solid #1a1a1a!important;
}

.menu a.ui-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10vw;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .ui-page::before {
        background-size: 90%;
    }
    .menu a.ui-btn i {
        font-size: 120px;
    }
}

@media only screen and (max-width: 480px) {
    .menu a.ui-btn i {
        font-size: 80px;
    }
}