/* GENERAL */
body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/logos/logo.png) #c3c3c3 no-repeat top center;
    background-size: 50%;
    will-change: transform;
    z-index: 0;
}

.ui-content {
    padding: 0;
}

.spacing {
    /*margin: 30px 0;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

.no-spacing-bottom {
    padding-bottom: 0;
}

.internal-spacing {
    padding-left: 10px;
    padding-right: 10px;
}

.no-margin {
    margin: 0;
}

.container {
    padding: 0;
}

.full-min-height {
    min-height: calc(100vh - 32px);
}

.overflow-hidden {
    overflow: hidden;
}

/* MENU */
.ui-panel {
}

.ui-panel, #status-bar {
    background-color: #111;
}

.ui-panel-closed {
    visibility: visible;
    width: auto;
    overflow: visible;
    clip: auto;
}

.ui-panel-inner {
    padding: 0;
}

.status-bar {
    position: fixed;
    width: 100%;
}

.panel-heading {
    position: relative;
    height: 32px;
}

.ui-panel-closed .panel-toggle {
   /* left: 285px;*/
}

.panel-toggle {
    position: relative;
    padding-left: 15px;
    top: 4px;
    color: #fff!important;
    text-shadow: none!important;
}

.menu-optns a.ui-btn {
    border: 0;
    color: #fff!important;
    text-shadow: none!important;
    background-color: transparent;
    margin: 0;
    box-shadow: none!important;
}

.menu-optns a.ui-btn:hover {
    background-color: #1e282c;
}

#status {
    z-index: 9999;
}

#lateral-menu {
    position: fixed;
    margin-top: 32px;
    min-height: calc(100% - 32px);
}

/* PAGES */
.ui-page {
    margin-top: 32px;
    background-color: transparent;
}

/* MAIN MENU */
.menu .col-6 {
    padding: 5px;
}

.menu a.ui-btn {
    width: 100%;
    padding: calc(50% - 5vw) 0;
    position: relative;
    margin: 0;
    background-color: #111!important;
    border: 1px solid #1a1a1a!important;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.menu a.ui-btn i {
    left: 0;
    right: 0;
    font-size: 10vw;
    color: #fff;
}

/* EVENTS */
.event-single:nth-of-type(1) {
    border-top: 1px solid #c3c3c3;
}
.event-single {
    border-bottom: 1px solid #c3c3c3;
}

/* LOADER */
.preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
    margin: 0 0 0 -40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #07C1E1;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #E50E65;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

/* MAP */
#map #floor-map {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 300ms ease;
}

#map-container.shown > #floor-map {
    position: relative;
    top: 0;
    transform: none;
}

#map #floor-map img {
    max-height: 100%;
    max-width: 100%;
    /*transition: all 300ms ease;*/
}

.map-btn {
    position: absolute;
    width: 72px!important;
    background: none!important;
    border: 0!important;
    box-shadow: none!important;
    outline: none!important;
}

.map-btn .fa-map-marker {
    position: relative;
    font-size: 45px;
}

.map-btn.active {
    text-shadow: 0 0 5px #2ad!important;
}

.map-btn .fa-map-marker i {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 18px;
}

#map-container {
    transition: height 300ms ease;
    height: calc(100vh - 122px);
    position: relative;
}

#map-container.shown {
    height: calc(70vh - 32px);
    overflow: auto;
    padding: 30px 0;
}

.bottom-details {
    position: relative;
    bottom: -100vh;
    transition: all 300ms ease;
    height: 0;
    background: #d7d7dc;
}

.bottom-details.shown {
    bottom: 0;
    height: 30vh;
}

.bottom-details .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    width: auto;
    background: transparent;
}

.map-btn#location-1 {
    top: calc(17% - 33.75px);
    left: calc(36% - 45px);
}

/* PARTICIPANTS */
#single-participant .img-container {
    position: relative;
    height: 100px;
}

#single-participant .img-container i {
    font-size: 70px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
}

#single-participant .img-container i:before {
    vertical-align: middle;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1200px) {
    .map-btn#location-1 {
        left: calc(33% - 45px);
    }
}

@media only screen and (max-width: 992px) {
    .map-btn#location-1 {
        top: calc(16% - 33.75px);
        left: calc(29% - 45px);
    }
}

@media only screen and (max-width: 767px) {
    .ui-page::before {
        background-size: 90%;
    }
    .menu a.ui-btn i {
        font-size: 120px;
    }
    .menu a.ui-btn {
        padding: calc(50% - 60px) 0;
    }
}

@media only screen and (max-width: 480px) {
    .menu a.ui-btn i {
        font-size: 80px;
    }
    .menu a.ui-btn {
        padding: calc(50% - 40px) 0;
    }
}

@media (orientation: landscape) {

}